CONFIG_FEATURE_AUTOMATION_NONE=y
# CONFIG_FEATURE_AUTOMATION_TIME is not set
# CONFIG_FEATURE_AUTOMATION_EVENT is not set

CONFIG_FEATURE_INTERFACE_CLI=y
# CONFIG_FEATURE_INTERFACE_REST is not set
# CONFIG_FEATURE_INTERFACE_WEBUI is not set

CONFIG_FEATURE_DEVICE_LIGHT=y
CONFIG_LIGHT_COUNT=1
CONFIG_LIGHT_START_GPIO=2
# CONFIG_FEATURE_DEVICE_RELAY is not set
# CONFIG_FEATURE_DEVICE_SENSOR is not set

CONFIG_FEATURE_SECURITY_NONE=y
# CONFIG_FEATURE_SECURITY_AUTH is not set