menu "SmartHome"

menu "Interfaces"

config FEATURE_INTERFACE_CLI
    bool "Enable CLI interface"
    default n

config FEATURE_INTERFACE_MQTT
    bool "Enable MQTT interface"
    default n
    select SERVICES_WIFICLIENT

if FEATURE_INTERFACE_MQTT

menu "Mqtt Configuration"  

config FEATURE_INTERFACE_MQTT_BROKERURI
    string "MQTT Broker URI"
    default "mqtt://192.168.178.65"
    depends on FEATURE_INTERFACE_MQTT

config FEATURE_INTERFACE_MQTT_DEVICEID
    string "MQTT Device ID"
    default "esp32"
    depends on FEATURE_INTERFACE_MQTT

endmenu

endif

endmenu

menu "IO Selection"

choice FEATURE_COMPONENT_GPIO2_FUNCTION
    prompt "GPIO 2 Function"
    default FEATURE_COMPONENT_GPIO2_UNUSED

config FEATURE_COMPONENT_GPIO2_UNUSED
    bool "Unused"

config FEATURE_COMPONENT_GPIO2_OUTPUT_ANALOG
    bool "PWM Output"

config FEATURE_COMPONENT_GPIO2_OUTPUT_BINARY
    bool "Binary Output"

config FEATURE_COMPONENT_GPIO2_INPUT_BINARY
    bool "Binary Input"

config FEATURE_COMPONENT_GPIO2_INPUT_ANALOG
    bool "Analog Input"

endchoice

choice FEATURE_COMPONENT_GPIO2_INPUT_BINARY_PULL
    prompt "GPIO 2 Binary Input Pull Mode"
    default FEATURE_COMPONENT_GPIO2_INPUT_BINARY_PULLUP
    depends on FEATURE_COMPONENT_GPIO2_INPUT_BINARY

config FEATURE_COMPONENT_GPIO2_INPUT_BINARY_PULLUP
    bool "Pull-up"

config FEATURE_COMPONENT_GPIO2_INPUT_BINARY_PULLDOWN
    bool "Pull-down"

config FEATURE_COMPONENT_GPIO2_INPUT_BINARY_FLOATING
    bool "Floating / no pull"

endchoice


choice FEATURE_COMPONENT_GPIO4_FUNCTION
    prompt "GPIO 4 Function"
    default FEATURE_COMPONENT_GPIO4_UNUSED

config FEATURE_COMPONENT_GPIO4_UNUSED
    bool "Unused"

config FEATURE_COMPONENT_GPIO4_OUTPUT_ANALOG
    bool "PWM Output"

config FEATURE_COMPONENT_GPIO4_OUTPUT_BINARY
    bool "Binary Output"

config FEATURE_COMPONENT_GPIO4_INPUT_BINARY
    bool "Binary Input"

config FEATURE_COMPONENT_GPIO4_INPUT_ANALOG
    bool "Analog Input"

endchoice

choice FEATURE_COMPONENT_GPIO4_INPUT_BINARY_PULL
    prompt "GPIO 4 Binary Input Pull Mode"
    default FEATURE_COMPONENT_GPIO4_INPUT_BINARY_PULLUP
    depends on FEATURE_COMPONENT_GPIO4_INPUT_BINARY

config FEATURE_COMPONENT_GPIO4_INPUT_BINARY_PULLUP
    bool "Pull-up"

config FEATURE_COMPONENT_GPIO4_INPUT_BINARY_PULLDOWN
    bool "Pull-down"

config FEATURE_COMPONENT_GPIO4_INPUT_BINARY_FLOATING
    bool "Floating / no pull"

endchoice


choice FEATURE_COMPONENT_GPIO5_FUNCTION
    prompt "GPIO 5 Function"
    default FEATURE_COMPONENT_GPIO5_UNUSED

config FEATURE_COMPONENT_GPIO5_UNUSED
    bool "Unused"

config FEATURE_COMPONENT_GPIO5_OUTPUT_ANALOG
    bool "PWM Output"

config FEATURE_COMPONENT_GPIO5_OUTPUT_BINARY
    bool "Binary Output"

config FEATURE_COMPONENT_GPIO5_INPUT_BINARY
    bool "Binary Input"

config FEATURE_COMPONENT_GPIO5_INPUT_ANALOG
    bool "Analog Input"

endchoice

choice FEATURE_COMPONENT_GPIO5_INPUT_BINARY_PULL
    prompt "GPIO 5 Binary Input Pull Mode"
    default FEATURE_COMPONENT_GPIO5_INPUT_BINARY_PULLUP
    depends on FEATURE_COMPONENT_GPIO5_INPUT_BINARY

config FEATURE_COMPONENT_GPIO5_INPUT_BINARY_PULLUP
    bool "Pull-up"

config FEATURE_COMPONENT_GPIO5_INPUT_BINARY_PULLDOWN
    bool "Pull-down"

config FEATURE_COMPONENT_GPIO5_INPUT_BINARY_FLOATING
    bool "Floating / no pull"

endchoice

choice FEATURE_COMPONENT_GPIO16_FUNCTION
    prompt "GPIO 16 Function"
    default FEATURE_COMPONENT_GPIO16_UNUSED

config FEATURE_COMPONENT_GPIO16_UNUSED
    bool "Unused"

config FEATURE_COMPONENT_GPIO16_OUTPUT_ANALOG
    bool "PWM Output"

config FEATURE_COMPONENT_GPIO16_OUTPUT_BINARY
    bool "Binary Output"

config FEATURE_COMPONENT_GPIO16_INPUT_BINARY
    bool "Binary Input"

config FEATURE_COMPONENT_GPIO16_INPUT_ANALOG
    bool "Analog Input"

endchoice

choice FEATURE_COMPONENT_GPIO16_INPUT_BINARY_PULL
    prompt "GPIO 16 Binary Input Pull Mode"
    default FEATURE_COMPONENT_GPIO16_INPUT_BINARY_PULLUP
    depends on FEATURE_COMPONENT_GPIO16_INPUT_BINARY

config FEATURE_COMPONENT_GPIO16_INPUT_BINARY_PULLUP
    bool "Pull-up"

config FEATURE_COMPONENT_GPIO16_INPUT_BINARY_PULLDOWN
    bool "Pull-down"

config FEATURE_COMPONENT_GPIO16_INPUT_BINARY_FLOATING
    bool "Floating / no pull"

endchoice

choice FEATURE_COMPONENT_GPIO17_FUNCTION
    prompt "GPIO 17 Function"
    default FEATURE_COMPONENT_GPIO17_UNUSED

config FEATURE_COMPONENT_GPIO17_UNUSED
    bool "Unused"

config FEATURE_COMPONENT_GPIO17_OUTPUT_ANALOG
    bool "PWM Output"

config FEATURE_COMPONENT_GPIO17_OUTPUT_BINARY
    bool "Binary Output"

config FEATURE_COMPONENT_GPIO17_INPUT_BINARY
    bool "Binary Input"

config FEATURE_COMPONENT_GPIO17_INPUT_ANALOG
    bool "Analog Input"

endchoice

choice FEATURE_COMPONENT_GPIO17_INPUT_BINARY_PULL
    prompt "GPIO 17 Binary Input Pull Mode"
    default FEATURE_COMPONENT_GPIO17_INPUT_BINARY_PULLUP
    depends on FEATURE_COMPONENT_GPIO17_INPUT_BINARY

config FEATURE_COMPONENT_GPIO17_INPUT_BINARY_PULLUP
    bool "Pull-up"

config FEATURE_COMPONENT_GPIO17_INPUT_BINARY_PULLDOWN
    bool "Pull-down"

config FEATURE_COMPONENT_GPIO17_INPUT_BINARY_FLOATING
    bool "Floating / no pull"

endchoice

choice FEATURE_COMPONENT_GPIO18_FUNCTION
    prompt "GPIO 18 Function"
    default FEATURE_GPI18_UNUSED

config FEATURE_COMPONENT_GPIO18_UNUSED
    bool "Unused"

config FEATURE_COMPONENT_GPIO18_OUTPUT_ANALOG
    bool "PWM Output"

config FEATURE_COMPONENT_GPIO18_OUTPUT_BINARY
    bool "Binary Output"

config FEATURE_COMPONENT_GPIO18_INPUT_BINARY
    bool "Binary Input"

config FEATURE_COMPONENT_GPIO18_INPUT_ANALOG
    bool "Analog Input"

endchoice

choice FEATURE_COMPONENT_GPIO18_INPUT_BINARY_PULL
    prompt "GPIO 18 Binary Input Pull Mode"
    default FEATURE_COMPONENT_GPIO18_INPUT_BINARY_PULLUP
    depends on FEATURE_COMPONENT_GPIO18_INPUT_BINARY

config FEATURE_COMPONENT_GPIO18_INPUT_BINARY_PULLUP
    bool "Pull-up"

config FEATURE_COMPONENT_GPIO18_INPUT_BINARY_PULLDOWN
    bool "Pull-down"

config FEATURE_COMPONENT_GPIO18_INPUT_BINARY_FLOATING
    bool "Floating / no pull"

endchoice

endmenu

menu "Services"

config SERVICES_WIFIAP
    bool "Enable WiFi Access Point"
    default n

config SERVICES_WIFICLIENT
    bool "Enable WiFi client"
    default n

if SERVICES_WIFICLIENT

menu "WiFi Configuration"

config SERVICES_WIFICLIENT_SSID
    string "WiFi SSID"
    default "Ovolus"

config SERVICES_WIFICLIENT_PASSWORD
    string "WiFi Password"
    default "Bolzplatz.2025"

config SERVICES_WIFICLIENT_DNSSERVER
    string "DNS Server"
    default "192.168.178.65"

endmenu

endif

config SERVICES_SYSTIME
    bool "Enable system time service"
    default n

endmenu

endmenu